[submodule "straight/repos/yasnippet"]
	path = straight/repos/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "straight/repos/with-editor"]
	path = straight/repos/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "straight/repos/web-beautify"]
	path = straight/repos/web-beautify
	url = https://github.com/yasuyk/web-beautify.git
[submodule "straight/repos/tidy"]
	path = straight/repos/tidy
	url = https://github.com/emacsmirror/tidy.git
[submodule "straight/repos/pos-tip"]
	path = straight/repos/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "straight/repos/merlin-eldoc"]
	path = straight/repos/merlin-eldoc
	url = https://github.com/Khady/merlin-eldoc.git
[submodule "straight/repos/lsp-ivy"]
	path = straight/repos/lsp-ivy
	url = https://github.com/emacs-lsp/lsp-ivy.git
[submodule "straight/repos/literate-calc-mode.el"]
	path = straight/repos/literate-calc-mode.el
	url = https://github.com/sulami/literate-calc-mode.el.git
[submodule "straight/repos/highlight-thing.el"]
	path = straight/repos/highlight-thing.el
	url = https://github.com/fgeller/highlight-thing.el.git
[submodule "straight/repos/highlight-symbol.el"]
	path = straight/repos/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "straight/repos/highlight-indent-guides"]
	path = straight/repos/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides.git
[submodule "straight/repos/goto-line-preview"]
	path = straight/repos/goto-line-preview
	url = https://github.com/jcs-elpa/goto-line-preview.git
[submodule "straight/repos/golden-ratio.el"]
	path = straight/repos/golden-ratio.el
	url = https://github.com/roman/golden-ratio.el.git
[submodule "straight/repos/emacs-language-id"]
	path = straight/repos/emacs-language-id
	url = https://github.com/lassik/emacs-language-id.git
[submodule "straight/repos/emacs-format-all-the-code"]
	path = straight/repos/emacs-format-all-the-code
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "straight/repos/company-quickhelp"]
	path = straight/repos/company-quickhelp
	url = https://github.com/company-mode/company-quickhelp.git
[submodule "straight/repos/apheleia"]
	path = straight/repos/apheleia
	url = https://github.com/raxod502/apheleia.git
[submodule "straight/repos/volatile-highlights.el"]
	path = straight/repos/volatile-highlights.el
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "straight/repos/popup-el"]
	path = straight/repos/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "straight/repos/iedit"]
	path = straight/repos/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "straight/repos/emacs-python-environment"]
	path = straight/repos/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule "straight/repos/emacs-jedi"]
	path = straight/repos/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "straight/repos/emacs-epc"]
	path = straight/repos/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "straight/repos/emacs-deferred"]
	path = straight/repos/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "straight/repos/emacs-ctable"]
	path = straight/repos/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule "straight/repos/company-jedi"]
	path = straight/repos/company-jedi
	url = https://github.com/emacsorphanage/company-jedi.git
[submodule "straight/repos/auto-complete"]
	path = straight/repos/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "straight/repos/unicode-escape.el"]
	path = straight/repos/unicode-escape.el
	url = https://github.com/kosh04/unicode-escape.el.git
[submodule "straight/repos/names"]
	path = straight/repos/names
	url = https://github.com/Malabarba/names.git
[submodule "straight/repos/ido-yes-or-no"]
	path = straight/repos/ido-yes-or-no
	url = https://github.com/DarwinAwardWinner/ido-yes-or-no.git
[submodule "straight/repos/ido-vertical-mode.el"]
	path = straight/repos/ido-vertical-mode.el
	url = https://github.com/creichert/ido-vertical-mode.el.git
[submodule "straight/repos/company-tabnine"]
	path = straight/repos/company-tabnine
	url = https://github.com/TommyX12/company-tabnine.git
[submodule "straight/repos/ido-completing-read-plus"]
	path = straight/repos/ido-completing-read-plus
	url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
[submodule "straight/repos/yaml-mode"]
	path = straight/repos/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "straight/repos/prescient.el"]
	path = straight/repos/prescient.el
	url = https://github.com/raxod502/prescient.el.git
[submodule "straight/repos/org-bullets"]
	path = straight/repos/org-bullets
	url = https://github.com/integral-dw/org-bullets.git
[submodule "straight/repos/haskell-mode"]
	path = straight/repos/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
